<div
  class="
  cursor-pointer
    border
    flex
    justify-between
    mr-8
    py-4
    px-8
    mb-8
    border-indigo-500
    rounded-xl
  "
  [ngClass]="{
    'bg-indigo-400': selected
  }"
>
  <div>
    <span class="flex items-center text-{{ selected ? 'white' : 'gray-500' }}"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 text-blue-300"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
        />
      </svg>
      <span
        class="text-xl ml-4"

        >{{ origin }}</span
      >
    </span>
    <br />
    <span class="flex items-center text-{{ selected ? 'white' : 'gray-500' }}"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 text-red-300"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
        />
      </svg>
      <span
        class="text-xl ml-4"

        >{{ destination }}</span
      >
    </span>
  </div>
  <div class="flex flex-col justify-between items-end">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 text-red-300 cursor-pointer"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
      />
    </svg>
    <span class="font-semibold text-{{ selected ? 'white' : 'indigo-600' }}">
      {{ tarrif }} MAD</span
    >
  </div>
</div>
